#phone1 {
    height: 35px;
    width: 35px;
    padding-left: 30px;
    padding-right: 20px;
}

#div1 {
    border: 2px solid black;
    width: 400px;
    height: 100px;
    border-radius: 30px;
    text-align: center;
    padding-top: 10px;
    color: orange;
}

.row1 {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 32px;
    font-family: sans-serif;
}
